@charset "utf-8";
$red: #E74D4D;
$gray: #4D4D4D;
$white: #ffffff;
$black: #000000;
/*轮播图 start*/
section {
  width: 100%;

  .slides {
    .slides-img {
      position: relative;
      height: 32rem;

      li {
        position: absolute;

        a {
          display: block;
          width: 100%;
          height: 32rem;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .slides-tag {
      display: flex;
      justify-content: center;

      li {
        display: inline-block;
        border: 0.05rem solid transparent;

        a {
          text-align: center;
          width: 6rem;
          padding: 0.5rem 2rem;
          background-color: $gray;
          color: $white;
          font-size: 0.8rem;
          display: block;
        }
      }
    }
  }
}